<meta charset="utf-8">
<title>Awesome title</title>

<link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style type="text/css">
  body {
    padding-top: 50px;
  }
</style>